---
title: 👋
slug: hello
date: 2020-9-13
---

<script>
  let clicked = false
  let handleClick = () => (clicked = !clicked)
</script>

Welcome to my corner of the internet!

I don't post much, here or elsewhere. This is just something for me to periodically rebuild whenever I get the bug. 😄

Most recently I did so using Svelte! <button on:click={handleClick}>{clicked ? '💥' : '🧪'}</button> (← click me)

And check this out:

{"$$e^{iπ} = -1$$"}

[Source is on my GitHub.](https://github.com/zioroboco/ziorobo.co/blob/master/src/routes/posts/hello.svx) ✌️
